/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1c1c;
  color: rgb(196, 191, 191);
  padding: 10px 20px;
  
}

.nav-links a {
  color: rgb(206, 199, 199);
  margin-left: 15px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-links a:hover {
  transform: scale(1.1);
  color: #f8f8f8;
}
